.wrapper {
  position: relative;
}

.button {
  color: var(--color-green);
  font-weight: 600;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  width: 220px;
  border: 1px solid var(--color-green);
  background: var(--color-gray-300);
  border-radius: 1rem;
  padding: 16px;
  color: var(--color-green-dark);
  display: flex;
  flex-direction: column;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.08);
  gap: 1rem;
  text-align: center;
}
